* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  text-align: center;
  margin-top: 2rem;
}
button {
  margin-left: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(247, 255, 247);
  background-color: rgb(173, 106, 106);
  font-weight: bold;
  border-radius: 30px;
  outline: none;
  border: none;
}

button:hover {
  color: rgb(209, 26, 26);
  background-color: rgb(250, 218, 218);
}
